.header {
    font-family: 'Libre Baskerville', serif;
    justify-content: space-between;
    display: flex;
    background-color: #ffd700;
    font-size: 1.5rem;
}


a {
    text-decoration: none;
    color: #222;
}

.header__rigth, .header__left {
    display: flex;
    align-items: center;
    padding: 2rem;
}
.wrapper_nav{
    justify-content: space-between;
    display: flex;
}
.nav{
    justify-content: space-between;
    display: flex;
}

.nav {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav__item a {
    display: block;
    padding: 1.5rem 1.25rem;
}
